*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0 .5rem;
    font-size: 17px;
}
header{
    margin: 1rem;
    font-size: larger;
}
.app-body{
    max-width: 60rem;
    margin: 5rem auto;
}
.list-card{
    background-color: rgb(164, 164, 255);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 6px;
}
.list-card > *{
    margin-bottom: 1rem;
    padding: 0.5rem;
}
.list-card form{
    display: flex;
    width: 100%;
    justify-content: center;
}
.list-card input{
    border: none;
    padding: 0.7rem;
    font-size: 20px;
}
.list-card input:first-child{
    width: 90%;
    border-radius: 5px;   
}
.list-card input[type="submit"]{
    border-radius: 60%;
    margin-left: 0.6rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    font-size: 25s;
}

.completed .text{
    display: flex;
    justify-content: space-between;
}
ul li{
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: gainsboro 1px solid;
    list-style: none;
    border-radius: 5px;
}
ul li span{
    display: flex;
    align-items: center;
}
ul li span p{
    margin-left: 1rem;
    font-size: 20px;
}
ul li i{
    cursor: pointer;
    height: 100%;
}
ul li i:last-child{
    float: right;
    color: red;
}
.fa{
    font-size: 30px;
}